# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 96
print(number)

96

##### Assinging float

In [2]:
numberFloat = 2.3
print(numberFloat)
numberFloat = 9.6
print(numberFloat)

2.3
9.6

#### Performing Calculations on ints and floats

##### Addition

In [4]:
num1 = 23
num2 = 96
print(num1 + num2)
#OR
ans = num1 + num2
print(ans)
ans += 4
print(ans)

119
119
123

##### Subtraction

In [5]:
result = num2 - num1
print(result)
result -= 3
print(result)

73
70

##### Multiplication

In [6]:
multi = num1 * num2
print(multi)
multi *= 2
print(multi)

2208
4416

##### Division

In [7]:
div = num2 / num1
print(div)
div /= 2
print(div)

4.173913043478261
2.0869565217391304

##### Floor Division

In [8]:
divFloor = num2 // num1
print(divFloor)
divFloor //= 2
print(divFloor)

4
2

##### Modulo

In [9]:
mod = 10 % 3
print(mod)
mod %= 1
print(mod)

1
0

##### Exponential

In [10]:
square  = 5 ** 2
print(square)
square **= 2
print(square)

25
625

### String Input-Output

##### String Assignment

In [11]:
name = "Brandon"
print(name)

Brandon

##### print() <br>
<p>Don't forget about end=' '</p>

In [14]:
print("This is my first name:", name)
print("Full Name:", name, end=" Miller")

This is my first name: Brandon
Full Name: Brandon Miller

##### String Concatenation

In [16]:
first_name = "Brandon"
last_name = "Miller"
full_name = first_name + " " + last_name
print(full_name)
full_name += ", Sr"
print(full_name)

Brandon Miller
Brandon Miller, Sr

##### Type Conversion

In [19]:
number = "32"
change_type_num = int(number)
print(type(number))
print(type(change_type_num))

<class 'str'>
<class 'int'>

##### input()

In [30]:
# Input will ALWAYS return a string!

# name = input("What is your name? ")
# print("Hey " + name + ", nice to meet you!")

age = int(input("What is your age? "))
add_age = age + 1000
print("Cool! Fun fact: You'd be " + str(add_age) + " years old if you traveled 1000 years into the future.")

What is your age? 26
Cool! Fun fact: You'd be 1026 years old if you traveled 1000 years into the future.

##### format()

In [45]:
age = input("What is your age? ")

# result = "You are {}, {}, and you are getting wiser!".format(age, name)
# print(result)

result_two = f"{age} is a great time in life!!!"
print(result_two)

What is your age? 26
You are 26, Brandon, and you are getting wiser!
26 is a great time in life!!!

##### Old Way (python 2)

In [47]:
result_three = "You are %s and look great for your age!" %age
print(result_three)

You are 26 and look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [49]:
name = input("What is your name? ")
color = input("What is the color of your vehicle? ")
year = input("What is the year of your vehicle? ")
make = input("What is the make of your vehicle? ")
model = input("What is the model of your vehicle? ")

vehicle = f"{name} owns a {year} {make} {model} in the color {color}."
print(vehicle)

What is your name? Brandon
What is the color of your vehicle? Starlight Mica Blue
What is the year of your vehicle? 1996
What is the make of your vehicle? Mazda
What is the model of your vehicle? Miata
Brandon owns a 1996 Mazda Miata in the color Starlight Mica Blue.

### If Statements

In [67]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 23
num2 = 96
num3 = 100

# if num1 == 5:
#     print("This is true!")
# else:
#     print("This is false.")


# if num1 > num2:
#     print("Num1 is greater than num2.")
# elif num2 > num1:
#     print("Num2 is greater than num1.")
# else:
#     print("Num1 and num2 are equal.")


if num1 > num2 or num2 < num3:
    print("True.")
else: 
    print("False.")

True.

##### 'is' keyword

In [69]:
# The "is" keyword is for checking for the same object, but not the same value

num3 = 55

if num3 == 55:
    print("This is the exact number/object")

This is the exact number/object

##### 'in' keyword

In [70]:
# Check if character is in a string

char_name = "Frodo Baggins"

if "Frodo" in char_name:
    print("The ring bearer")

The ring bearer

##### 'not in' keyword'

In [71]:
sega_char = "Sonic"

if 'a' not in sega_char:
    print('a is NOT here...')

a is NOT here...

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [76]:
# OUTPUT: True -- if p is found
# False -- if p is NOT found

user_input = input("Please give me some input: ")

if 'p' in user_input:
    print("P is found.")
elif 'p' not in user_input:
    print("P is not found.")
else:
    print("Error.")

Please give me some input: My name is Brandon.
P is not found.

## Using 'and'/'or' with If Statements

In [79]:
num1 = 12
num2 = 7
num3 = 45
num4 = 2

if num1 + num2 <= num3 / num4 and num2 > num4:
    print("These statements are all true!")
else:
    print("These are false.")
    
if num1 == 12 or num3 == 56:
    print("This is still true!")
else:
    print("This is false again.")

These statements are all true!
This is still true!

### Elif Statements

In [82]:
first_name = input("What is your name? ")

if first_name == 'Smith':
    print("The name is Smith.")
elif first_name == 'Brandon':
    print("The name is Brandon.")
elif first_name != 'Max':
    print("The name is NOT max")
else:
    print("The name is Max")

What is your name? Gerald
The name is NOT max

### Else Statements

In [ ]:
# see above

### For Loops

In [5]:
# Syntax:
# for counter in condition

name = "Brandon Miller"
a_list = [1, 2, 3, 4]

# for letter in name:
#     print(letter)
    
for i in a_list:
    print(i * 2)

2
4
6
8

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [2]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [3]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [8]:
name = "Brandon"

for i in name:
    pass

##### Double For Loops

In [9]:
for i in range(5):
    for j in range(5):
        print('i = ', i, 'j = ', j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [10]:
# Syntax:
# while keyword, condition statement

num = 0

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [14]:
game_over = True

while game_over:
    user_input = input("Would you like to stop? ")
    if user_input == 'Yes':
        game_over = False

Would you like to stop? Yes

##### While & For Loops Used Together

In [16]:
num = 0
while num < 5:
    print("\nWhile loop iteration: " + str(num))
    
    for i in range(2):
        print("For loop iteration: ", str(i))
        
    num += 1

While loop iteration: 0
For loop iteration:  0
For loop iteration:  1

While loop iteration: 1
For loop iteration:  0
For loop iteration:  1

While loop iteration: 2
For loop iteration:  0
For loop iteration:  1

While loop iteration: 3
For loop iteration:  0
For loop iteration:  1

While loop iteration: 4
For loop iteration:  0
For loop iteration:  1

### Built-In Functions

##### range()

In [18]:
# range(start, stop, step)

for i in range(2, 21, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20

##### len()

In [21]:
# name = "brandon"
# name_len = len(name)
# print(name_len)

name = input("Give me the name of your favorite book? ")

length = len(name)
print(length)

Give me the name of your favorite book? Harry Potter
12

##### help()

In [23]:
# Use this function to view more info about a python function
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance()

In [27]:
# Check a variable to find out what object family (or data type) it belongs to
# isinstance(var, type)
num = 9.6
if isinstance(num, int):
    print(f"{num} is an int")
else:
    print(f"{num} is a float")

9.6 is a float

##### abs()

In [28]:
# |-5| = 5 ; Works just like absolute value in math

print(abs(-5))

5

### Try and Except

In [38]:
# Use this to log out graceful and useful error messages
# Does not stop the program, which is very neat!

# input_num = int(input("Guess a number: "))
# print("Your number is " + str(input_num))

try:
    input_num = int(input("Guess a number: "))
    print("Your number is " + str(input_num))
except:
    print("That didn't work change your input to a number!")

Guess a number: 96
Your number is 96

### Lists

##### Declaring Lists

In [58]:
a_list = []

names = ['Max', 'Cindy', 'Kathy', 'bob', 'Nate']
print(names)

['Max', 'Cindy', 'Kathy', 'bob', 'Nate']

##### Indexing a List

In [59]:
# list_name[start: stop: step]

# Single Index
print(names[2])

# Print starting at index 1 going to the end
print(names[1:])

# Print starting at the beginning of the list and up until a number
print(names[:2])

# Print starting at index 1 and going up by 2 in each iteration
print(names[1::2])

# Print starting at back and display in reverse order
print(names[::-1])

Kathy
['Cindy', 'Kathy', 'bob', 'Nate']
['Max', 'Cindy']
['Cindy', 'bob']
['Nate', 'bob', 'Kathy', 'Cindy', 'Max']

##### .append()

In [60]:
names.append('Brandon')
print(names)

['Max', 'Cindy', 'Kathy', 'bob', 'Nate', 'Brandon']

##### .insert()

In [61]:
names.insert(3, 'Devon')
print(names)

['Max', 'Cindy', 'Kathy', 'Devon', 'bob', 'Nate', 'Brandon']

##### .pop()

In [62]:
# Defaults to the last value if no value is given
# Pop returns the element that was removed in cas you want to assign it to a variable

my_name = names.pop(2)
print(my_name)
print(names)

Kathy
['Max', 'Cindy', 'Devon', 'bob', 'Nate', 'Brandon']


##### .remove()

In [64]:
# Value to be removed rather than index

# names.remove('bob')
# print(names)

# Remove multiples from list
while 'Cindy' in names:
    names.remove('Cindy')
print(names)

['Max', 'Devon', 'Nate', 'Brandon']

##### del()

In [65]:
# Goes by index, rather than value
# Be careful with del, it can cause indexing errors if not used carefully

del(names[1])
print(names)

['Max', 'Nate', 'Brandon']

##### Concatenating Two Lists

In [70]:
# Will append two lists together, will NOT add the values!

list_2 = [0, 1, 2]
list_3 = [3, 4, 5]

large_list = list_2 + list_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [69]:
# Lists can hold ANY type of other element! Including other lists!
# They can go as deep as you want; this is called nested lists

names = ['Max', 'Sam', 'Josh', ['Sally', ['Sue', 'Jim'], 'Tameka']]
print(names)
print(names[3][1][1])

['Max', 'Sam', 'Josh', ['Sally', ['Sue', 'Jim'], 'Tameka']]
Jim

##### Looping Through Lists

In [73]:
# Two ways to loop through a list! One is by index; the other is by using the 'in' keyword

# By index
for i in range(len(names)):
    print(names[i])
    
# Loop with 'in'
for name in names:
    print(name)

Max
Sam
Josh
['Sally', ['Sue', 'Jim'], 'Tameka']
Max
Sam
Josh
['Sally', ['Sue', 'Jim'], 'Tameka']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [85]:
for num in range(100):
    cubed = num ** 3
    if cubed <= 1000:
        print(cubed)
    else: 
        break

0
1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [81]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

for num in range(1, 101):
    if num > 1:
        for i in range(2, num):
            if num % i == 0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [35]:
age = int(input("What is your age? "))
if age < 18:
    print("Kids")
elif age <= 65:
    print("Adults")
else:
    print("Seniors")

What is your age? 26
Adults